{% extends "auctions/layout.html" %}

{% block body %}
    <h1>{{ listing.title }}</h1>
    <hr>
        <div class="listContainer" >
            {% for listing in NewListings %}
            <div class="card" style="width: 35vh;">
                <img src="{{ listing.image }}" class="card-img-top" alt="Listing image">
                <div class="card-body">
                  <h5 class="card-title">{{ listing.title }}</h5>
                  <p class="card-text">Description: <br> {{ listing.description }}</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Bid is at: {{ listing.bid }}</li>
                  <li class="list-group-item">category: {{ listing.category }}</li>
                  <li class="list-group-item">seller: {{ listing.seller }}</li>
                </ul>
                <div class="card-body">
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Add to watch list</a>
                </div>
              </div>
              {% endfor %}
        </div>
{% endblock %}